@{
    ViewBag.Title = "About";
}

@section Sidebar
{
    <div id="sidebar" class="float_l">
        	<div class="sidebar_box"><span class="bottom"></span>
            	<h3>Жанры</h3>   
                <div class="content"> 
                	<ul class="sidebar_list">
                         @{
                            int i = 0;
                        }
                        @foreach(MyStore.Models.Categorie categorie in ViewBag.Categories)
                        {
                            if(i==0)
                            {
                                <li class="first"><a href="~/Home/Catalog/@categorie.CategorieId">@categorie.Name</a></li>
                                i++;
                            }
                            else
                            {
                                <li><a href="~/Home/Catalog/@categorie.CategorieId">@categorie.Name</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
}

<div id="content" class="float_r">
    <h1>О нас</h1>
    <div class="cleaner"></div>
    <p>Сеть книжных магазинов «BOOK'ва» предлагает книги, учебники, диски, развивающие игры для детей и многое другое. 
        Первый книжный магазин «BOOK'ва» был открыт в 2007 году в Харькове, позже были открыты магазины в Полтаве, Кременчуге, 
        Одессе и Павлограде. В 2009 году во всемирную сеть было запущено он-лайн представительство книжной сети «КнигоЛенд» - 
        bookwa.com</p>
    <p>Покупать товары через интернет очень удобно, так как Вы можете ознакомиться с представленными книгами в интернет-магазине, 
        а потом заказать или купить книги, которые вам понравились в любом из магазинов сети. 
        На сегодняшний день книжный магазин предоставляет покупателям доставку книг почтой, перевозчиком «Новая почта» и 
        самовывоз.</p>
    <p>Книжный магазин «BOOK'ва» - это всегда гибкая ценовая политика. Например, «BOOK'ва» создает особые условия для 
        постоянных покупателей и для того, чтобы Вы, наш читатель, захотели приобрести книги именно в нашем книжном магазине. 
        Специально для покупателей книжного магазина разработана программа лояльности, участвуя в которой можно покупать с 
        постоянно увеличивающейся скидкой. Уже сегодня вы можете сделать покупку в нашем книжном магазине и не платить за ее 
        доставку, скачать флаер и купить книгу со скидкой и это только начало...</p>
    <p>Ассортимент книжных магазинов «BOOK'ва» формируется опытными товароведами, которые заказывают популярные и редкие книги, 
        умело подбирают книги в рубрики новинки и распродажа.</p>
</div> 


